<div *ngFor="let word of wordService.getRandomWordsOrder() | slice:0:1">
 <mat-form-field class="example-full-width">
    <mat-label>Deutsch</mat-label>
    <input matInput placeholder="Deutsch" value="{{word.german}}">
  </mat-form-field>
    <mat-form-field class="example-full-width">
    <mat-label>Englisch</mat-label>
    <input matInput placeholder="Englisch" value="" [(ngModel)]="wordEnglish">
  </mat-form-field>
  <button mat-button color="primary" (click)="wordService.verifyWord(word)">Pr&uuml;fen</button>
</div>