
 <nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/word-list">
      Erstellen
    </a>
    <a mat-tab-link routerLink="/practice">
      Trainieren
    </a>
    <a mat-tab-link routerLink="/exam">
      <span>Pr&uuml;fung</span>
    </a>
  </nav>




<!-- <mat-tab-group>
<nav mat-tab-nav-bar [backgroundColor]="background">
  <a mat-tab-link *ngFor="let link of links"
     (click)="activeLink = link"
     [active]="activeLink == link"> {{link}} </a>
  <a mat-tab-link disabled>Disabled Link</a>
</nav>
</mat-tab-group> -->



